In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [2]:
#Data folder
d_path=os.path.join(os.getcwd(),"data")

In [4]:
df=pd.read_csv(d_path+"/input_training_data.csv")

In [7]:
df.head()

,ID,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,8568,0,0.0,0,0.0,2,0.000000,0.2,0.200000,0.0,0.0,Aug,1,1,3,1,Returning_Visitor,0,0
1,9207,1,5.0,0,0.0,2,15.200000,0.0,0.040000,0.0,0.0,Aug,1,1,6,3,Returning_Visitor,0,0
2,9321,0,0.0,0,0.0,3,0.000000,0.2,0.200000,0.0,0.0,Aug,1,1,3,4,Returning_Visitor,0,0
3,8955,4,54.8,0,0.0,3,20.257143,0.0,0.028571,0.0,0.0,Aug,1,1,3,2,Returning_Visitor,0,0
4,8180,0,0.0,0,0.0,4,39.800000,0.0,0.050000,0.0,0.0,Aug,1,1,1,3,New_Visitor,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8622 entries, 0 to 8621
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       8622 non-null   int64
 1   Administrative           8622 non-null   int64
 2   Administrative_Duration  8622 non-null   float64
 3   Informational            8622 non-null   int64
 4   Informational_Duration   8622 non-null   float64
 5   ProductRelated           8622 non-null   int64
 6   ProductRelated_Duration  8622 non-null   float64
 7   BounceRates              8622 non-null   float64
 8   ExitRates                8622 non-null   float64
 9   PageValues               8622 non-null   float64
 10  SpecialDay               8622 non-null   float64
 11  Month                    8622 non-null   object
 12  OperatingSystems         8622 non-null   int64
 13  Browser                  8622 non-null   int64
 14  Region                   8622 non-null   int64
 15  TrafficType              8622 non-null   int64
 16  VisitorType              8622 non-null   object
 17  Weekend                  8622 non-null   int64
 18  Revenue                  8622 non-null   int64
dtypes: float64(7), int64(10), object(2)
memory usage: 1.2+ MB

In [9]:
df.describe()

,ID,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
count,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000,8622.000000
mean,8015.889121,2.343192,83.405240,0.490373,33.159578,31.872419,1192.184366,0.021920,0.042457,5.704339,0.061795,2.124101,2.349803,3.154605,4.117606,0.233820,0.154836
std,2491.319819,3.315094,182.985925,1.258803,138.432097,44.605549,1944.264408,0.047651,0.047784,17.776590,0.199441,0.914461,1.719077,2.409020,4.070923,0.423284,0.361770
min,3701.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5859.250000,0.000000,0.000000,0.000000,0.000000,7.000000,192.462500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000,0.000000,0.000000
50%,8016.500000,1.000000,9.000000,0.000000,0.000000,18.000000,606.283333,0.003279,0.025000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,10172.750000,4.000000,95.575000,0.000000,0.000000,37.000000,1450.841355,0.017497,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000,0.000000,0.000000
max,12330.000000,26.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,360.953384,1.000000,8.000000,13.000000,9.000000,20.000000,1.000000,1.000000